version: "3.7"
services:
  apache:
    build:
      args:
        user: abel
        uid: 1000
      context: ./.docker/apache
    image: lapel
    restart: unless-stopped
    ports:
      - 7075:80
    working_dir: /var/www/html
    volumes:
      - .:/var/www/html
    links:
      - mysql
    env_file:
      - .env
    environment:
      DB_HOST: mysql
      DB_DATABASE: ${DB_NAME}
      DB_USERNAME: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
    networks:
      - lapel
  mysql:
    build:
      context: ./.docker/database
    ports:
      - 13306:3306
    networks:
      - lapel
    env_file:
      - .env
    environment:
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${ROOT_PASSWORD}
    # volumes:
    # - ./.docker/database/sql-scripts:/docker-entrypoint-initdb.d

networks:
  lapel:
    driver: bridge
